#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#define NUMLAYER 1
#define OTHERLAYER 2
#define NAVLAYER 3
#define SYMLAYER 4


/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "homerow mods";
            #binding-cells = <2>;
            tapping_term_ms = <200>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };

    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &hm GRAVE Q &hm N1 W   &hm N2 E         &hm N3 R       &hm N5 T      &hm N6 Y         &hm N7 U           &hm N8 I    &hm N9 O    &hm N0 P
                &kp A       &kp S      &kp D            &kp F         &kp G         &kp H            &kp J              &kp K       &kp L       &kp SEMI
                &kp Z       &kp X       &kp C            &kp V          &kp B         &kp N            &kp M              &kp COMMA   &kp DOT     &kp FSLH
                                        &lt NUMLAYER TAB &kp ENTER      &kp LCTRL      &kp RSHIFT       &lt NAVLAYER SPACE &lt SYMLAYER
            >;
        };

        num_layer {
            bindings = <
                &kp LBKT     &kp RBKT     &trans      &kp STAR        &kp FSLH     &trans           &kp N7       &kp N8    &kp N9    &kp BSPC
                &kp LPAR     &kp RPAR     &trans      &kp MINUS       &kp EQUAL    &trans           &kp N4       &kp N5    &kp N6    &kp N0
                &kp LBRC     &kp RBRC     &trans      &trans          &trans       &trans           &kp N1       &kp N2    &kp N3    &kp ENTER
                                      &trans      &trans          &trans       &trans           &kp DEL        &kp RSHIFT
            >;
        };

        other_layer {
            bindings = <
                &trans     &trans     &trans      &trans          &trans       &trans           &kp LEFT        &kp UP      &kp RIGHT     &trans
                &trans     &trans     &trans      &trans          &trans       &trans           &kp HOME         &kp DOWN      &kp END     &trans
                &trans     &trans     &trans      &trans          &trans       &trans           &kp ESC       &kp PG_DN      &kp DEL     &trans
                                      &trans      &trans          &trans       &trans           &trans         &kp PG_UP
            >;
        };

        nav_layer {
            bindings = <
                &kp LBKT   &kp N7     &kp N8      &kp N9          &kp RBKT      &trans          &trans         &trans      &trans     &trans
                &kp SEMI   &kp N4     &kp N5      &kp N6          &kp EQUAL     &trans          &trans         &trans      &trans     &kp APOS
                &kp GRAVE  &kp N1     &kp N2      &kp N3          &kp BSLH      &trans          &trans         &trans      &trans     &trans
                                      &trans      &kp LWIN          &kp MINUS     &trans          &trans         &trans 
            >;
        };

        sym_layer {
            bindings = <
                &kp LBRC     &kp LS(N7)  &kp LS(N8)  &kp LS(N9) &kp RBRC       &trans &trans   &trans    &trans    &trans
                &kp COLON     &kp LS(N4)  &kp LS(N5)  &kp LS(N6) &kp PLUS       &trans &trans   &trans    &trans    &trans
                &kp TILDE     &kp LS(N1)  &kp LS(N2)  &kp LS(N3) &kp LS(BSLH)       &trans &trans   &trans    &trans    &trans
                                          &trans      &kp LS(N0)     &kp UNDER           &trans          &trans         &trans 
            >;
        };
    };
};