if SHIELD_UR_MOM_LEFT

config ZMK_KEYBOARD_NAME
	default "ur mom left"

config ZMK_SPLIT_BLE_ROLE_CENTRAL
	default y

endif

if SHIELD_UR_MOM_LEFT || SHIELD_UR_MOM_RIGHT

config ZMK_SPLIT
	default y
	
endif